
// Define Colors:
$heavy: #272932;
$dark: #3f4040;
$dark-light: #5e5e5f;
$red-orange: #f94e3f;
$red: #ff4e50;
$purple: #9055A2;
$dark-purple: #34314c;
$sky-blue: #47b8e0;
$bright-blue: #00dffc;
$dark-blue: #274555;
$gold: #ffc952;
$pink: #ff7473;
$bright-pink: #e94e77;
$mint: #67D5B5;
$tan: #fff1b9;
$white: #FFFFF2;

// Define Fonts:
$Trirong: 'Trirong', serif;
$Libre: 'Libre Franklin', sans-serif;
$Montserrat: 'Montserrat', sans-serif;
$Raleway: 'Raleway', sans-serif;
$Cormorant: 'Cormorant Garamond', serif;
$Ubuntu: 'Ubuntu', sans-serif;
$Pridi: 'Pridi', serif;
$Merriweather: 'Merriweather', serif;
$Rasa: 'Rasa', serif;
$Vesper: 'Vesper Libre', serif;
$Hind: 'Hind Vadodara', sans-serif;
$Baloo: 'Baloo Bhai', cursive;

// Styling:

body {
  background: $heavy;
  color: $bright-blue;
}